body {
    margin: 0;
    font-family:Tahoma, sans-serif;
}

.intro {
    max-height: 100vh;
    overflow: hidden;
    position: relative;

    background: url("bg.png") center no-repeat;
    background-size: cover;
}

.intro:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,.8);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.intro__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.intro__title {
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: 52px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.video {
    position: relative;
    z-index: 1;
    padding-bottom: 56.25%;
}

.video__media {
    width: 100%;
    height: auto;

    position: absolute;
    top: 0;
    left: 0;
}
@media (max-width: 1524px) {
    .video {
        padding-bottom:84.25%;
    }
    
    .video__media {
        width: 149%;
    }

    
    .intro__title {
        font-size: 40px;
    }
}


@media (max-width: 1024px) {
    .video {
        padding-bottom: 134.25%;
    }
    
    .video__media {
        width: 239%;
    }
}

@media (max-width: 991px) {
    .video {
        padding-bottom:145.25%;
    }
    
    .video__media {
        width: 259%;
    }

    .intro__title {
        font-size: 40px;
    }
}



@media (max-width:768px) {
    .video__media {
        width: 236%; 
        

    }
    .video {
        padding-bottom: 135.25%;
    }

    .intro__title {
        font-size: 29px;
    }
}

@media (max-width:640px) {
    .video__media {
        width: 383%;
    }     
    .video {
        padding-bottom: 218.25%;
    }
}


@media (max-width:440px) {
    .video__media {
        width: 383%;
    }     
    .video {
        padding-bottom: 218.25%;
    }

    .intro__title {
        font-size: 30px;
    }
   
    
    @media (max-width:390px) {
        .video__media {
            width: 484%;
        }     
        .video {
            padding-bottom: 276.25%;
        }
    
        .intro__title {
            font-size: 25px;
        }
    }    
}
